/* iframe{
  display: none;
} */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* App, Sidebar, Header */
.App{
  background-color: #F7F8FC;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: 'Muli', sans-serif !important;
  overflow: hidden;
}

.App-menu{
  background-color: #363740;
  height: 100vh;
  width: 20vw;
}

.App-logo{
  height: 50px;
  position: relative;
  margin-right: 15px;
  top: 3px;
}

select{
  font-family: 'Muli';
}

.Home-link{
  all: unset;
  display: inline-flex;
  align-items: center;
  height: 10vh;
  position: relative;
  left: 22%;
  cursor: pointer;
}

.Menu-tabs li:hover{
  background-color: #3F4049;
  border-left: 3.5px solid white;
}

.Menu-tabs li:hover span{
  position: relative;
  left: -3px;
}

.Menu-tabs li.Voyageurs span{
  padding: 15px 0 20px 0;
}

.Menu-tabs span{
  all:unset;
  display: flex;
  align-items: center;
  padding: 15px 0;
  color: #A4A6B3;
  cursor: pointer;
}

.Menu-tabs span:hover{
  color: white;
}

.Menu-tabs span:before{
  font-family: 'FontAwesome';
  margin-left: 15%;
}

.Menu-tabs .Map span:before{
  content:'\f041';
  font-size: 24px;
  margin-right: 24px;
  margin-left: calc(15% + 2px)
}

.Menu-tabs .Data span:before{
  content:'\f002';
  font-size: 20px;
  margin-right: 20px;
  margin-left: calc(15% + 1px)
}

.Menu-tabs .Insights span:before{
  content:'\f0eb';
  font-size: 26px;
  margin-right: 24px;
  margin-left: calc(15% + 2px)
}

.Menu-tabs .Users span:before{
  content:'\f0c0';
  font-size: 18px;
  margin-right: 20px;
}

.Menu-tabs .Users.Border{
  border-bottom: 1px solid #DFE0EB;
  padding-bottom: 0.75vh;
  height: 3.5vh;
}

.Menu-tabs .Logout span:before{
  content:'\f011';
  font-size: 18px;
  margin-right: 20px;
}

.Menu-tabs{
  padding: 0;
}

.App-header{
  align-self: flex-start;
  width: 100%;
}

.App-header span:first-child{
  color: #9FA2B4;
}

.App-header span:nth-child(2){
  color: #4B506D;
}

.App-header .Filter-menu{
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: flex-end;
}

.Filter-menu div{
  height: 100%;
}

.App-header .Filter-menu span{
  color: unset;
  font-size: 0.8rem;
  font-weight: 600;
  display: block;
  margin-bottom: 1vh;
}

.Filter-arrondissement{
  margin-right: 2vw;
}

.Filter-menu select{
  height: 3vh;
  font-weight: 500;
  font-size: 0.75rem;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.21);
  border-radius: 6px;
}

.Filter-arrondissement select{
  display: block;
  width: 22vw;
  -webkit-appearance: unset;
  border: none;
  padding: 0 0 0.2vw 1vw;
  color: #9FA2B4;
  background:white;
  outline: none;
}

.Filter-arrondissement .Dropdown-icon:after{
  color: #9FA2B4;
  top: -3.25vh;
  left: 19.5vw;
}

.Filter-criteria{
  position: relative;
  top: -0.5vh;
}

.Filter-criteria .Filter-criteria-select{
  display: flex;
}

.Filter-criteria select{
  -webkit-appearance: unset;
  border: none;
  color: white;
  outline: none;
  width: 14vw;
  background: #4BC0AD;
  padding: 0 0 0.2vw 1vw;
}

.Dropdown-icon:after{
  font-family: 'FontAwesome';
  content: '\f078';
  position: relative;
  left: -3.5vw;
  top: 1vh;
  color: white;
  pointer-events: none;
  font-size: 1rem;
}

h1{
  color: #A4A6B3;
  font-size: 1.2rem;
}

h2{
  margin: 45px 0 0 0;
  letter-spacing: 0.3px;
}

h3{
  letter-spacing: 0.4px;
}

h4{
  text-align: center;
  font-size: 1rem;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.App-container{
  width: 72vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* App, Sidebar, Header */

/* Map */
.Map-container{
  height: 58vh;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.21);
  border-radius: 8px;
  background: white;
}

.Map-container .loader{
  position: absolute;
  left: 58vw;
  top: 34vh;
}

#Map{
  height: 45vh;
  width: 72vw;
  border-bottom: 1px solid #DFE0EB;
}

.Map-popup{
  display: flex;
  flex-wrap: wrap;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right{
  display: none;
}

.Map-legend{
  height: 13vh;
  width: 72vw;
  display: flex;
}

.Legend-heatzone{
  width: 40%;
  height: 13vh;
  border-right: 1px solid #DFE0EB;
}

.Legend-heatzone .Help-popup{
  text-align: center;
  color: white;
  margin-left: 1vh;
  height: 15px;
  width: 15px;
  border: 1px solid #252733;
  border-radius: 50%;
  background: #4BC0AD;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.Legend-heatzone .Help-popup:hover{
  cursor: pointer;
}

.Legend-heatzone .Help-popup:hover:after{
  position: absolute;
  color: black;
  border: 1px solid black;
  left: 38vw;
  top: 56.5vh;
  border: 0.5px solid #DFE0EB;
  background: white;
  font-size: 0.75rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
  padding: 0.25vh 0.25vw;
}

.Legend-heatzone .Help-popup.Qualite-air:hover:after{
  content: 'Données en temps réel fournies par Airparif';
}

.Legend-heatzone .Help-popup.Nuisances-sonores:hover:after{
  content: 'Données en temps réel fournies par Bruitparif';
}

.Legend-heatzone .Help-popup.Nuisances-visuelles:hover:after{
  content: 'Données en temps réel fournies par Google Maps';
}

.Legend-heatzone p{
  text-align: center;
  font-size: 0.8rem;
  position: relative;
  top: 35%;
}

.Legend-heatzone h3, .Legend-criteria h3{
  font-size: 0.8rem;
  margin: 2.5vh 0 0 5vw;
  letter-spacing: 0.2px;
  display: inline-block;
}

.Gradient{
  width: 14vw;
  margin: 1.5vh 0 0 5vw;
  height: 20px;
  border: 1px solid #DFE0EB;
  margin-bottom: 1vh;
}

.Gradient.Qualite-air{
  background: linear-gradient(90deg,#FEE5D9,#FCBBA1,#FC9272,#FB6A4A,#DE2D26,#A50F15);
}

.Gradient.Affluence{
  background: linear-gradient(90deg,#FEEDDE,#FDD0A2,#FDAE6B,#FD8D3C,#E6550D,#A63603);
}

.Gradient.Nuisances-sonores{
  background: linear-gradient(90deg,#F2F0F7,#DADAEB,#BCBDDC,#9E9AC8,#756BB1,#54278F);
}

.Gradient.Nuisances-visuelles{
  background: linear-gradient(90deg,#EFF3FF,#C6DBEF,#9ECAE1,#6BAED6,#3182BD,#08519C);
}

.Gradient-measures{
  width: 14vw;
  margin-left: 5vw;
  display: flex;
  justify-content: space-between;
}

.Legend-unit{
  position: absolute;
  left: 43.5vw;
  font-size: 0.8rem;
  top: 64.45vh;
}

.Legend-criteria{
  width: 60%;
  height: 13vh;
}

.Criteria-items{
  display: flex;
  justify-content: space-around;
  margin-top: 1.5vh;
  padding: 0 2vh 0 2vh;
}

.Criteria-items p{
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.Espaces-verts:before{
  content:'';
  background: #0C9A00;
  border-radius: 4px;
  border: 1px solid #26901D;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 20px;
}

.Stations-exterieures:before{
  content:'';
  border-radius: 50%;
  border: 3px solid #0D72CF;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 20px;
}

.Stations-velib:before{
  content:'';
  background: #575884;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  display: inline-block;
  margin-right: 20px;
}

.Toggle-menu{
  height: 27vh;
  width: 72vw;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.Heatzone-select, .Criteria-select{
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.21);
  border-radius: 8px;
  height: 27vh;
  background: white;
}

.Heatzone-select{
  width: 58%;
}

.Heatzone-select ul{
  margin: 0;
  padding: 1.5vh 2.5vw 0 2.5vw;
  height: 78%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Heatzone-select li{
  height: 40%;
  display: flex;
  align-items: center;
}

.Heatzone-select label{
  position: relative;
  left: 40px;
}

.Dot{
  display: flex;
  position: relative;
  top: 5px;
}

.Radio{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background: #4BC0AD;
  opacity: 0.1;
  border-radius: 50%;
  position: relative;
  left: 27.5px;
  bottom: 2px;
}

input[type='radio']{
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
  border: 2px solid #4BC0AD;
  color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: relative;
  z-index: 1;
}

input[type='radio']:focus{
  outline: none;
}

input[type='radio']:checked:after{
  content: '\f111';
  color: #4BC0AD;
  font-family: 'FontAwesome';
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 2px;
  font-size: 12px;
}

.Criteria-select{
  width: 38%;
}

.Heatzone-select h3, .Criteria-select h3{
  height: 22%;
  font-size: 0.8rem;
  margin: 0;
  border-bottom: 1px solid #DFE0EB;
  display: flex;
  align-items: center;
  padding-left: 12%;
  letter-spacing: 0.2px;
}

.Criteria-select ul{
  margin: 0;
  padding: 0;
}

.Criteria-select li{
  display: flex;
  align-items: center;
  margin: 3vh 0 0 2vw;
}

.Criteria-select label{
  position: relative;
  left: 40px;
}

.Box{
  display: flex;
  position: relative;
  top: 5px;
}

.Checkbox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background: #4BC0AD;
  opacity: 0.1;
  border-radius: 50%;
  position: relative;
  left: 25px;
  bottom: 4px;
}

input[type='checkbox']{
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
  border: 2px solid #4BC0AD;
  color: white;
  border-radius: 2px;
  height: 15px;
  width: 15px;
  position: relative;
  z-index: 1;
}

input[type='checkbox']:focus{
  outline: none;
}

input[type='checkbox']:checked:after{
  content: '\f00c';
  background: #4BC0AD;
  color: white;
  font-family: 'FontAwesome';
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Map */

/* Data */
.Chart-container{
  height: 46vh;
  width: 100%;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.21);
  border-radius: 8px;
  background: white;
  display: flex;
}

.Chart-content{
  width: 70%;
  height: 100%;
  border-right: 1px solid #DFE0EB;
  padding-left: 2.5vw;
}

.Chart-content h3{
  margin: 0;
  position: relative;
  top: 2vh;
  letter-spacing: 0.4px;
}

.Chart-content span{
  position: relative;
  top: 2vh;
  font-size: 0.75rem;
  color: #9FA2B4;
}

.Chart-content .Subtitle-arrondissement{
  color: unset;
  position: absolute;
  top: 7.5vh;
  left: 2.75vw;
}

.Chart span, .Chart tspan, .Chart text{
  font-family: 'Muli' !important;
}

.Timeframe{
  position: absolute;
  right: 2vw;
  top: 1vh;
  -webkit-appearance: unset;
  border: none;
  padding: 0 0 0.2vw 1vw;
  color: #9FA2B4;
  background: white;
  outline: none;
  height: 3vh;
  font-weight: 500;
  font-size: 0.75rem;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.21);
  border-radius: 6px;
  width: 4vw;
}

.Timeframe-icon{
  position: absolute !important;
  right: 2.5vw;
  top: 1.75vh !important;
}

.Timeframe-icon:after{
  color: #9FA2B4;
  font-family: 'FontAwesome';
  content: '\f078';
  pointer-events: none;
  left: -1vw;
  top: 0.5vh;
  position: relative;
}

.Chart{
  margin-top:2vh;
  width: 52vw;
  position: relative;
  left: -0.75vw;
}

.apexcharts-toolbar{
  right: 2vw !important;
}

.apexcharts-legend-text{
  top: unset !important;
  position: relative;
}

.apexcharts-legend{
  top: 0.5vh !important;
  left: 18vw !important;
  bottom: unset !important;
}

.apexcharts-legend-marker{
  height: 0.3vh !important;
  width: 2vw !important;
}

.apexcharts-legend-text{
  margin-right: 1.5vw;
}

.Chart .apexcharts-tooltip{
  height: 6.5vh;
}

.Chart.indices-qualite-air .apexcharts-tooltip{
  height: 13vh;
}

.Chart .apexcharts-tooltip-title{
  margin-bottom: -1vh !important;
}

.Chart-sidebar{
  width: 30%;
}

.Chart-sidebar h3{
  padding-left: 2.5vw;
  margin-bottom: 0;
}

.Chart-sidebar h3.Realtime:after{
  content: '';
  height: 0.45vh;
  width: 0.45vh;
  display: inline-block;
  border: 0.35vh solid red;
  border-radius: 50%;
  position: relative;
  top: -0.75vh;
  left: 0.35vh;
}

.Chart-sidebar-subtitle{
  position: relative;
  font-size: 0.75rem;
  color: #9FA2B4;
  left: 2.5vw;
}

.Chart-sidebar-list{
  padding: 0;
  margin: 2vh 0 1vh 0;
  height: 36vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Chart-sidebar-item{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid#DFE0EB;
  width: 100%;
  align-items: center;
  padding-bottom: 1.5vh;
  margin-top: 1.4vh;
  color: #9FA2B4;
  font-size: 0.8rem;
  font-weight: 600;
}

.Chart-sidebar-item>span{
  color: black;
  font-size: 1.2rem;
  font-weight: 800;
  margin-top: 0.375vh;
}

.Chart-sidebar-item:last-child{
  flex-direction: row;
  border: none;
}

.Chart-sidebar-item:last-child span{
  color: #9FA2B4;
  font-size: 0.8rem;
  font-weight: 600;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Sidebar-temp{
  padding-left: 2vw;
}

.Sidebar-hum{
  padding-right: 2vw;
}

.Chart-sidebar-item:last-child span>span{
  color: black;
  font-size: 1.2rem;
  font-weight: 800;
  margin-top: 0.5vh;
}

.Database-tables{
  margin-top: 2vh;
  height: 34.5vh;
  width: 98%;
  box-shadow: 3px 3px 4px rgba(29, 15, 15, 0.21);
  border-radius: 8px;
  background: white;
  padding-right: 1.5vw;
  position: relative;
}

.Database-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Database-title{
  display:inline-block;
  justify-content: space-between;
}

.New-table{
  background: #4BC0AD;
  border: none;
  outline: none;
  color: white;
  box-shadow: 3px 3px 4px rgba(29, 15, 15, 0.21);
  border-radius: 8px;
  height: 3vh;
  width: 18vw;
  font-weight: 500;
  font-size: 0.75rem;
  margin: 1vh 2.5vw 0 0;
  cursor: pointer;
}

.MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded{
  height: auto;
  width: 66vw;
  left: 3vw;
  top: 3vh;
  box-shadow: 3px 3px 4px rgba(29, 15, 15, 0.21);
  border-radius: 8px;
}

.MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded span{
  padding-left: unset;
  font-size: unset;
  color: unset;
}

.MuiInput-underline:after{
  border-bottom: 2px solid #4BC0AD !important;
}

.Table h6, .Table div, .Table td, .Table input, .Table li, .Table th{
  font-family: 'Muli' !important;
}

.MuiButtonBase-root.MuiTableSortLabel-root>div{
  font-weight: 600;
}

.Close{
  position: absolute;
  right: 2vw;
  top: 1vh;
  z-index: 1;
}

.Close:after{
  font-family: 'FontAwesome';
  content: '\f00d';
  font-size: 1.25rem;
  cursor: pointer;
}

.Database-tables h3{
  padding-left: 2.5vw;
  margin-bottom: 0;
}

.Database-tables span{
  padding-left: 2.5vw;
  font-size: 0.75rem;
  color: #9FA2B4;
}

.Table-list{
  padding: 0;
  margin: 2.5vh 0 0 0;
  overflow-y: auto;
  height: 26vh;
}

.Table-list::-webkit-scrollbar-thumb{
  outline: 1px solid #4BC0AD;
}

.Table-select{
  height: 4vh;
  border-bottom: 1px solid #DFE0EB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5vw;
  margin-right: 3vw;
}

::-webkit-scrollbar {
  width: 0.75vw;
}

::-webkit-scrollbar-track {
  background: white;
  border: 2px solid #DFE0EB;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #4BC0AD !important;
  border-radius: 8px;
}

.Table-select:last-child{
  border-bottom: none;
}

.Table-select .Table-select-open{
  font-size: 1rem;
  color: unset;
}

.Table-links span{
  text-decoration: underline;
  cursor: pointer;
  padding: unset !important;
  margin-left: 2.5vw;
}

.Overlay{
  background: rgba(0,0,0,0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 11;
  top: 0;
  left: 0;
}

.Create-table, .Edit-table{
  position: absolute;
  top: 18%;
  left: 24%;
  background: white;
  height: 50%;
  width: 72%;
  box-shadow: 3px 3px 4px rgba(29, 15, 15, 0.21);
  border-radius: 8px;
  z-index: 12;
}

.Create-table .Close, .Edit-table .Close{
  color: #9FA2B4;
}

.Create-table{
  padding: 2vh 0 0 0;
  width: 72vw;
  height: 45vh;
  overflow-x: auto;
}

.Create-table h3{
  margin: 1.5vh 0 3vh 6vw;
}

.Create-table label{
  display: block;
  font-size: 0.8rem;
  font-weight: 600;
}

.Create-table button{
  height: 2.75vh;
  width: 15vw;
  color: white;
  font-weight: 600;
  font-size: 0.75rem;
  background: #4BC0AD;
  border: none;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.21);
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

.Create-table hr{
  margin: 2vh 0;
  border: 0.5px solid #DFE0EB;
}

.Create-table input, select{
  background: white;
  padding-left: 1vw;
  border: none;
  outline: none;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.21);
  border-radius: 6px;
  height: 2.5vh;
  margin: 0.5vh 1vw 1vh 0;
  font-family: 'Muli';
  font-size: 0.8rem;
  width: 10vw;
}

.Create-table form>div{
  display: flex;
  margin-bottom: 1.5vh;
}

.Create-table form>div:last-child{
  margin: 5.8vh 0 4vh 0;
  display: flex;
}

.Create-table form>div:last-child button:first-child{
  background: #F0F1F7;
  color: #9FA2B4;
  margin-right: 0.75vw;
}

.Create-table form>div:last-child button:nth-child(2){
  margin-left: 0.75vw;
}

.Create-table button:nth-child(7){
  margin-top: 1.5vh;
}

.Create-table form div div:first-child input:nth-child(2), .Create-table form>input{
  width: 16vw;
}

.Create-table form>button{
  width: 15vw;
}

.Create-table form>label:first-child, .Create-table form>input:nth-child(2), .Create-table form .Name-group, .Create-table form>.New-col{
  margin-left: 6vw;
}

.Create-table form>div:last-child{
  width: 100%;
  display: flex;
  justify-content: center;
}

.Create-table form div div{
  display: flex;
  flex-direction: column;
}

.Create-table .New-col{
  display: block;
}

.Edit-table{
  display: block;
  max-height: 92vh;
  height: auto;
  top: 1.5%;
  padding-bottom: 5vh;
  overflow-x: auto;
  overflow-y: auto;
}

/* .MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.MuiTablePagination-menuItem.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button:nth-child(3){
  display: none;
} */
/* Data */

/* Insights */
.Insights-head{
  width: 100%;
  height: 10vh;
  margin-top: 3vh;
  display: flex;
  justify-content: space-between;
}

.Head-item{
  width: 32.75%;
  height: 100%;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.21);
  border-radius: 6px;
  background: white;
}

.Head-item:nth-child(3){
  margin: 0 !important;
}

.Head-item>div{
  display: flex;
  height: 6vh;
}

.Head-item h3{
  margin: 1vh 0 0 1vw;
  font-size: 1rem;
  width: 12vw;
}

.Head-item .Head-item-subtitle{
  color: #9FA2B4;
  font-size: 0.75rem;
  margin-left: 1vw;
}

.Head-item>div>span{
  color: #9FA2B4;
  font-size: 0.75rem;
  width: 9vw;
  margin: 0.5vh 0 0 2vw;
}

.Head-item>div>span:before{
  font-family: 'FontAwesome';
  content: '\f0d8';
  font-size: 1.5rem;
  margin-right: 0.5vw;
  position: relative;
  top: 0.25vh;
  color: #88D56B;
}

.Head-item:last-child>div>span:before{
  color: #FC1101;
  content: '\f0d7';
}

.Head-item b{
  font-size: 1.75rem;
  width: 100%;
  text-align: center;
  display: block;
  margin-top: -0.75vh;
}

.Insights-charts{
  width: 100%;
  height: 56vh;
  margin: 2.5vh 0 2.5vh 0vh;
  display: flex;
  justify-content: space-between;
}

.Insights-charts .apexcharts-legend .apexcharts-legend-series:first-child .apexcharts-legend-marker{
  background: linear-gradient(178.35deg, #3751FF -13.54%, #4BC0AD 98.53%) !important;
}

.Insights-charts .apexcharts-legend .apexcharts-legend-series:nth-child(2) .apexcharts-legend-marker{
  background: linear-gradient(178.32deg, #FECE00 50.06%, #FC1101 98.51%) !important;
}

.Users-chart, .Criteria-chart{
  width: 49%;
  height: 100%;
  background: white;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.21);
  border-radius: 6px;
}

.Users-chart select{
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.21);
  border-radius: 6px;
  -webkit-appearance: unset;
  border: none;
  background: white;
  outline: none;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  height: 3vh;
  padding-left: 1vw;
  margin: 1.5vh 0 0 1.75vw;
  width: 24vw;
}

.Users-chart .Dropdown-icon:after{
  color: #9FA2B4;
  left: -2vw;
  top: unset;
}

.Chart.journeys{
  width: 37vw;
  left: unset;
}

.Chart.journeys .apexcharts-legend{
  display: block;
}

.Chart.journeys .apexcharts-tooltip-series-group, .Chart.criteria .apexcharts-tooltip-series-group{
  position: relative;
  top: 2vh;
}

.Users-total{
  border-top: 1px solid #DFE0EB;
  margin-top: -3.5vh;
}

.Users-total div{
  display: flex;
}

.Users-total>div:first-child h3{
  margin: 0.75vh 0 1vh 2vw;
  font-size: 0.9rem;
}

.Users-total>div:first-child span{
  margin: 0.5vh 0 0.75vh 1vw;
  font-size: 0.75rem;
  color: #9FA2B4;
}

.Users-total>div:first-child span:before{
  font-family: 'FontAwesome';
  content: '\f0d8';
  font-size: 1.2rem;
  margin-right: 0.5vw;
  position: relative;
  top: 0.25vh;
  color: #88D56B;
}

.Users-total>div:nth-child(2){
  margin-bottom: 0.5vh;
}

.Users-total>div:nth-child(2)>div{
  width: 33%;
  display: flex;
  margin-right: -0.5vw;
  flex-direction: column;
}

.Users-total>div:nth-child(2)>div>span:first-child{
  font-size: 0.75rem;
  color: #9FA2B4;
  margin: -0.5vh 0 0.25vh 2vw;
}

.Users-total>div:nth-child(2)>div>span:nth-child(2){
  font-size: 1.75rem;
  margin: 0.375vh 0 0 2.5vw;
  font-weight: bold;
}

.Criteria-chart-head{
  padding: 1.5vh 0 0 1.75vw;
}

.Criteria-chart-head select{
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.21);
  border-radius: 6px;
  -webkit-appearance: unset;
  border: none;
  background:white;
  outline: none;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  width: 12vw;
  height: 3vh;
  padding-left: 1vw;
}

.Criteria-chart-head .Dropdown-icon{
  pointer-events: none;
  position: relative;
  left: -2.75vw;
}

.Criteria-chart-head .Dropdown-icon:after{
  color: #9FA2B4;
  top: unset;
  left: unset;
}

.Slash{
  position: relative;
  left: -0.5vw;
}

.Chart.criteria{
  width: 35vw;
  margin-left: 2vw;
}

.Chart.criteria .apexcharts-legend-marker, .Chart.journeys .apexcharts-legend-marker{
  height: 1vh !important;
  width: 1vw !important;
}

.Chart.criteria .apexcharts-legend, .Chart.journeys .apexcharts-legend{
  justify-content: unset !important;
}

.Insights-footer{
  width: 100%;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.21);
  border-radius: 6px;
  background: white;
  position: relative;
  z-index: 11;
  height: 18vh;
  overflow: hidden;
}

.Insights-footer h3{
  padding-left: 2.5vw;
}

.Insights-footer>div:first-child{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DFE0EB;
}

.Insights-footer>div:nth-child(2), .Insights-footer>div:nth-child(3){
  display: flex;
}

.Insights-footer-expand{
  background: #4BC0AD;
  border: none;
  outline: none;
  color: white;
  box-shadow: 3px 3px 4px rgba(29, 15, 15, 0.21);
  border-radius: 8px;
  height: 2.75vh;
  width: 10vw;
  font-weight: 500;
  font-size: 0.75rem;
  margin: 1vh 2.5vw 0 0;
  cursor: pointer;
}

.Footer-item{
  width: 33.33%;
  height: 12vh;
  border-right: 1px solid #DFE0EB;
  text-align: right;
  padding: 1vh 3vw 1vh 3vw;
}

.Footer-item span{
  font-size: 0.75rem;
  color: #9FA2B4;
  margin-bottom: 1vh;
}

.Footer-important{
  font-size: 0.8rem !important;
  margin-bottom: 1.25vh !important;
  font-weight: 600;
  color: unset !important;
}

.Footer-important:before{
  font-family: 'FontAwesome';
  content: '\f0d8';
  font-size: 1.5rem;
  margin: 0 1.5vw 0 0;
  position: relative;
  top: 0.25vh;
  left: 0.5vw;
  color: #88D56B;
}

.Footer-item:nth-child(3) .Footer-important:before{
  color: #FC1101;
}

.Insights-footer div:nth-child(3)>.Footer-item:nth-child(2) .Footer-important:before{
  color: #FC1101;
}

.Footer-item span{
  display: block;
}

.Footer-item:last-child{
  border-right: none;
}
/* Insights */

/* Users */
.Users-head{
  width: 100%;
  height: 25vh;
  flex-wrap: wrap;
  margin-top: 4vh;
  display: flex;
}

.Users-head .Head-item{
  width: 32.4%;
  margin: 0 1vw 1vh 0;
  height: 11vh;
}

.Users-head .Head-item b{
  margin: 0;
}

.Users-head .Head-item>div>span{
  margin: 0.5vh 1vw 0 1vw;
}

.User-container{
  width: 100%;
  margin-top: 1vh;
}

.User-container label{
  font-weight: 600;
  font-size: 0.85rem;
  letter-spacing: 0.2px;
}

.User-container input{
  border: none;
  outline: none;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.21);
  border-radius: 6px;
  height: 2.5vh;
  margin: 0.5vh 1vw 1vh 0;
  font-family: 'Muli';
  font-size: 0.8rem;
  width: 20vw;
  padding-left: 1vw;
}

.User-container button{
  height: 2.5vh;
  width: 2.5vh;
  position: relative;
  background: #4BC0AD;
  border: none;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.21);
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

.Shuffle-icon:after{
  font-family: 'FontAwesome';
  color: white;
  content: '\f074';
  font-size: 1rem;
}

.User{
  width: 100%;
  height: 28vh;
  display: flex;
}

.User>div{
  height: 100%;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.21);
  border-radius: 6px;
  background: white;
  margin-right: 1vw;
  padding-left: 1vw;
}

.User>div>h3{
  margin-bottom: 0;
  font-size: 1.1rem;
}

.User>div span{
  font-size: 0.75rem;
  display: block;
  margin-bottom: 1vh;
}

.User>div>span:nth-child(2){
  margin: 0.25vh 0 2vh 0;
}


.User>div p{
  margin: 0 0 1.5vh 0;
  font-size: 1rem;
  letter-spacing: 0.2px;
}

.User p{
  margin: 0;
}

.User span{
  color: #9FA2B4;
}

.User .Profile{
  width: 19vw;
}

.User .Stats{
  width: 30vw;
}

.User .Stats div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 17vh;
}

.User .Stats span:nth-child(9){
  margin-top: 5.25vh;
}

.User .Badges{
  width: 19vw;
  text-align: center;
  padding-left: 0;
}

.User .Badges>p:nth-child(3){
  position: relative;
  top: 7vh;
}

.User .Badges>div span:nth-child(2){
  text-align: center;
  padding: 0;
  margin: 0;
  color: #77AABA;
}

.User .Badges>div:nth-child(4) span:nth-child(4){
  margin-bottom: 3vh;
}

.User .Relation>p:nth-child(3){
  position: relative;
  top: 7vh;
}

.User .Relation div span{
  width: 9.5vw;
  margin: 0 auto;
}

.User .Relation .User-positive:after{
  content: "\f2bd";
  color: #88D56B;
  font-family: 'FontAwesome';
  font-size: 4rem;
  margin-top: 4vh;
  display: block;
}

.User .Badges h3, .User .Badges span:nth-child(2), .User .Relation h3, .User .Relation span:nth-child(2){
  text-align: left;
  padding-left: 1vw;
}

.User .Badges span:nth-child(4), .User .Badges span:nth-child(6), .User .Badges span:nth-child(8), .User .Badges span:nth-child(10){
  color: #77AABA;
  margin: 0;
}

.User .Badges p{
  margin: 0;
}

.User .Relation{
  width: 26vw;
  text-align: center;
  padding-left: 0;
  margin-right: 0;
}

.User .Relation h3, .User .Badges h3{
  margin-bottom: 0;
}

.User .Relation span, .User .Badges span{
  margin-top: 0.25vh;
}

.User .Relation p{
  margin-top: 1.5vh;
}

.User .Relation span:nth-child(5){
  width: 50%;
  margin: 0 auto;
}

.Criteria-ranking{
  width: 100%;
  height: 24vh;
  margin-top: 3vh;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.21);
  border-radius: 6px;
  background: white;
  padding-left: 1vw;
}

.Criteria-ranking h3{
  margin: 0 3vh 0 0;
}

.Switch{
  margin: 0 1vw;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.Switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.Slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.Slider:before{
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .Slider{
  background-color: #4BC0AD;
}

input:focus + .Slider{
  box-shadow: 0 0 1px #4BC0AD;
}

input:checked + .Slider:before{
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.Criteria-ranking .Head-item-subtitle{
  color: #9FA2B4;
  font-size: 0.75rem;
  display: block;
  margin: 0.25vh 0 5vh 0;
}

.Users-head .Head-item:nth-child(3)>div>span:before{
  color: #FC1101;
  content: '\f0d7';
}

.Criteria-ranking>div:first-child{
  display: flex;
  margin: 1.5vh 0 0 0;
  align-items: center;
}

.Criteria-ranking>div:first-child span{
  display: flex;
  color: #9FA2B4;
  font-size: 0.75rem;
}

.Criteria-ranking>div:first-child div{
  display: flex;
  align-items: center;
}

.Criteria{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.Criteria div{
  text-align: center;
}

.Criteria div p{
  margin: 0;
  font-weight: bold;
  font-size: 0.85rem;
  margin: 0.5vh 0 1.5vh 0;
}

.Criteria div b{
  font-size: 1.5rem;
}
/* Users */

/* Login */
.Login-form{
  width: 100%;
  margin-top: 3vh;
}

.Login-form label{
  font-size: 0.85rem;
  font-weight: bold;
  margin-bottom: 1vh;
}

.Login-form input{
  border: none;
  outline: none;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.21);
  border-radius: 6px;
  height: 2.5vh;
  font-family: 'Muli';
  font-size: 0.8rem;
  width: 20vw;
  padding-left: 1vw;
}

.Login-items{
  display: flex;
}

.Login-items>div{
  display: flex;
  flex-direction: column;
  margin-right: 2vw;
}

.Login-items span{
  text-decoration: underline;
  color: #9FA2B4;
  font-size: 0.8rem;
  margin-top: 1vh;
  cursor: pointer;
}

.Login-logo{
  position: absolute;
  right: 7.5vw;
  top: 4vh;
}

.Login-form button{
  background: #4BC0AD;
  border: none;
  outline: none;
  color: white;
  box-shadow: 3px 3px 4px rgba(29, 15, 15, 0.21);
  border-radius: 8px;
  height: 3vh;
  width: 15vw;
  font-weight: 500;
  font-size: 0.75rem;
  margin-top: 3vh;
  cursor: pointer;
}
